NEO4J_USER=neo4j
NEO4J_PASSWORD=devpassword
NEO4J_URI=bolt://localhost:7687
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_PREFIX=archimesh.model
KAFKA_CONSUMER_GROUP_ID=archimesh-server
ARCHIMESH_CONSISTENCY_CHECK=false
ARCHIMESH_AUTHZ_ENABLED=false
ARCHIMESH_IDENTITY_MODE=bootstrap
ARCHIMESH_LOG_LEVEL=INFO

