<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gautelis.archimesh.plugin.startup.ArchimeshStartup">
      </startup>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.connect"
            name="%command.connect.name"
            description="%command.connect.description">
      </command>
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.disconnect"
            name="%command.disconnect.name"
            description="%command.disconnect.description">
      </command>
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.openServerModel"
            name="%command.openServerModel.name"
            description="%command.openServerModel.description">
      </command>
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.switchActiveModelServerBacked"
            name="%command.switchActiveModelServerBacked.name"
            description="%command.switchActiveModelServerBacked.description">
      </command>
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.showLastConflict"
            name="%command.showLastConflict.name"
            description="%command.showLastConflict.description">
      </command>
      <command
            categoryId="com.archimatetool.editor.category"
            id="org.gautelis.archimesh.plugin.command.resynchronizeModel"
            name="%command.resynchronizeModel.name"
            description="%command.resynchronizeModel.description">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.gautelis.archimesh.plugin.command.connect"
            class="org.gautelis.archimesh.plugin.handlers.ArchimeshConnectHandler">
      </handler>
      <handler
            commandId="org.gautelis.archimesh.plugin.command.disconnect"
            class="org.gautelis.archimesh.plugin.handlers.ArchimeshDisconnectHandler">
      </handler>
      <handler
            commandId="org.gautelis.archimesh.plugin.command.openServerModel"
            class="org.gautelis.archimesh.plugin.handlers.OpenServerModelHandler">
      </handler>
      <handler
            commandId="org.gautelis.archimesh.plugin.command.switchActiveModelServerBacked"
            class="org.gautelis.archimesh.plugin.handlers.SwitchActiveModelServerBackedHandler">
      </handler>
      <handler
            commandId="org.gautelis.archimesh.plugin.command.showLastConflict"
            class="org.gautelis.archimesh.plugin.handlers.ShowLastConflictHandler">
      </handler>
      <handler
            commandId="org.gautelis.archimesh.plugin.command.resynchronizeModel"
            class="org.gautelis.archimesh.plugin.handlers.ResynchronizeModelHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="menu:tools?after=com.archimatetool.action.generateView">
         <command
               commandId="org.gautelis.archimesh.plugin.command.disconnect"
               label="%command.disconnect.label"
               style="push">
         </command>
         <command
               commandId="org.gautelis.archimesh.plugin.command.openServerModel"
               label="%command.openServerModel.label"
               style="push">
         </command>
         <command
               commandId="org.gautelis.archimesh.plugin.command.switchActiveModelServerBacked"
               label="%command.switchActiveModelServerBacked.label"
               style="push">
         </command>
         <command
               commandId="org.gautelis.archimesh.plugin.command.showLastConflict"
               label="%command.showLastConflict.label"
               style="push">
         </command>
         <command
               commandId="org.gautelis.archimesh.plugin.command.resynchronizeModel"
               label="%command.resynchronizeModel.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
